
<div>
    <button mat-fab extended color="primary" class="add-product" (click)="openProductDialog()">
        <mat-icon>add</mat-icon>
        New product
      </button>
    <div class="product-list" *ngFor="let product of products">
        <div class="detail-20">
            <img src="{{product.image_url}}" class="product-img" alt="">
        </div>
        <div class="detail-60"> 
            <h3>{{product.name}}</h3> 
            <strong> &#8377; {{product.price}}</strong> <br/>
            <p> {{product.description}} </p>
        </div>
        <div class="detail-20">
            <button mat-mini-fab color="primary" (click)="editProduct(product)"><mat-icon>edit</mat-icon></button>
            <br/>
            <br/>
            <button mat-mini-fab color="warn" (click)="deleteProduct(product.id)"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
 </div>
    