.price {
    font-size: x-large;
    font-weight: 500;
    color: #444;
}
.add-btn {
    margin-left: 10px !important;
}

.product-card{
    cursor: pointer;
}

.product-img {
    max-height: 210px;
    min-height: 210px;
}